<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beauty" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/beautya"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Beauty" >
        <activity
            android:name=".Singup"
            android:exported="true" />
        <activity
            android:name=".Menact"
            android:exported="true" />
        <activity
            android:name=".Womenact"
            android:exported="true" />
        <activity
            android:name=".Thirdact"
            android:exported="true" />
        <activity
            android:name=".SecondAct"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>